@font-face {
    font-family: Cookie;
    src: url(font/CookieRunRegular.ttf);
}
* {
    font-family: Cookie;
    text-align: center;
}

a {
    height: 45px;
    border: 1px solid #ff4320;
    background-color: #ff4320;
    color: rgb(255, 255, 255);
    transition: border 0.3s ease 0s, background-color 0.3s ease 0s, color 0.3s ease 0s;
    border-radius: 25px;
}

form {
    font-size: 20px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
    padding-top: 44px;
    padding: 10px;
}
.rg{
    margin: 36px auto 0px;
    padding-bottom: 0px;
    width: 328px;
}
input[type="text"] {
    height: 44px;
    font-size: 20px;
    line-height: 22px;
    color: rgb(44, 49, 61);
    border-radius: 5px;
    padding: 0px 16px;

}

#wrapper {
    height: 250px;
    width: 250px;
    display: grid;
    position: absolute;
    border: 1px solid #32353c;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 50px);
}
img[src="image/Ekd.png"]{
    height: 50px;
}
